# Ambiente virtual
venv/
env/

# Arquivos de configuração do sistema operacional
*.DS_Store
Thumbs.db

# Arquivos Python compilados
*.pyc
*.pyo
*.pyd
__pycache__/

# Arquivos de banco de dados locais (se estiver usando SQLite)
db.sqlite3

# Diretório de arquivos estáticos coletados
static/

# Diretório de arquivos de mídia (uploads)
media/

# Arquivos de log
*.log

# Arquivos de migração do Django (opcional)
**/migrations/*.py
!**/migrations/__init__.py

# Arquivos de configuração do IDE (opcional)
.vscode/
.idea/

# Arquivo de configuração de ambiente (se usado)
.env

# Arquivos de cache
*.swp