{% extends 'base.html' %}

{% block body %}
<div class="flex flex-col min-h-screen bg-zinc-800">
    {% include 'components/header.html' %}
    <main class="flex-grow container mx-auto p-6 self-center content-center">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
            <div
                class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-zinc-700 shadow-lg px-12">
                <div class="flex justify-between">
                    <form action="{% url 'adm_home' %}" method="POST" class="flex rounded-full border-2 border-blue-500 overflow-hidden max-w-md">
                        {% csrf_token %}
                        <label for="id_search" class="sr-only">Pesquise por eventos</label>
                        <input id="id_search" type="text" placeholder="Pesquise por eventos" name="search"
                          class="w-full outline-none bg-zinc-700 text-sm px-5 py-3 text-white placeholder:text-gray-400" />
                        <button type='submit' class="flex items-center justify-center bg-blue-500 hover:bg-blue-600 px-6">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="18px" class="fill-white">
                            <path
                              d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
                            </path>
                          </svg>
                        </button>
                    </form>
                    <a href="{% url 'register_event' %}" class="px-5 py-2 bg-blue-600 text-center  text-white rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none ">
                        Criar evento
                    </a>
                </div>
            </div>
            <div
                class="align-middle inline-block min-w-full shadow overflow-hidden bg-zinc-700 shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
                <table class="min-w-full">
                    <thead>
                        <tr>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-white tracking-wider">
                                Nome do evento</th>
                            <th
                                class="px-6 py-3 border-b-2 border-gray-300 text-left text-sm leading-4 text-white tracking-wider">
                                Data do evento</th>
                            <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                        </tr>
                    </thead>
                    <tbody class="bg-zinc-700">
                        {% for e in events %}
                            <tr>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                                    <div class="text-sm leading-5 text-white">{{ e.name }}</div>
                                <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-white text-sm leading-5">
                                    <div class="text-sm leading-5 text-white">{{ e.start_date|date:"d/m/Y \à\s H:i" }}
                                    </div>
                                </td>
                                <td
                                    class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm leading-5">
                                    <a href="{% url 'event_details' e.id %}"
                                        class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Ver
                                        detalhes
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
{% endblock %}