{% extends 'base.html' %}

{% block body %}
<div class="flex flex-col min-h-screen bg-gray-100">
    {% include 'components/header.html' %}
  
    <!-- Corpo da Página -->
    <main class="flex-grow container mx-auto p-6 self-center content-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        
            <!-- Seção de Perfil -->
            <section class="bg-white shadow rounded-lg p-6">
                <div class="flex flex-col items-center">
                <img 
                    src="{{student.photo.url}}" 
                    alt="Foto de Perfil" 
                    class="w-24 h-24 rounded-full mb-4"
                >
                <button 
                    class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded mb-4"
                >
                    Alterar Foto
                </button>
                <h2 class="text-xl font-semibold capitalize">{{ student.name }}</h2>
                <p class="text-gray-600">{{ student.student_id }}</p>
                <button 
                    class="mt-4 bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded"
                >
                    Ver Informações
                </button>
                </div>
            </section>

            <!-- Seção de Certificados -->
            <section class="bg-white shadow rounded-lg p-6">
                <h2 class="text-xl font-semibold mb-4">Seus Certificados</h2>
                <ul class="space-y-4">
                <!-- Certificado 1 -->
                <li class="flex justify-between items-center">
                    <span class="text-gray-700">Certificado de Participação - Evento ABC</span>
                    <button 
                    class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded"
                    >
                    Baixar
                    </button>
                </li>
                <!-- Certificado 2 -->
                <li class="flex justify-between items-center">
                    <span class="text-gray-700">Certificado de Conclusão - Curso XYZ</span>
                    <button 
                    class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded"
                    >
                    Baixar
                    </button>
                </li>
                </ul>
                <!-- Mensagem quando não houver certificados -->
                <p class="mt-4 text-gray-500">Você ainda não possui certificados emitidos.</p>
            </section>
        </div>
    </main>

    {% include 'components/footer.html' %}
  </div>
  
{% endblock %}