{% extends 'base.html' %}
{% load form_extras %}

{% block body %}
<main
  class="mx-auto flex min-h-screen w-full items-center justify-center bg-zinc-800 text-white"
>
    <section class="max-w-4xl p-6 mx-auto bg-zinc-700 rounded-md shadow-md dark:bg-zinc-700 mt-20">
        <div class="flex items-center gap-3">
            <a href="{% url 'home_student' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" 
                    class="fill-current text-white hover:text-indigo-400 transition-colors duration-300" 
                    viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                </svg>
            </a>
            <h1 class="text-xl font-bold text-white dark:text-white">Minhas informações</h1>
        </div>
        <form action="{% url 'register_student' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">

                <div>
                    {% if form.name.errors %}
                        <label class="text-white dark:text-gray-200" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                        {{ form.name|add_class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-zinc-700 dark:text-gray-300 dark:border-gray-500 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" }}
                        {% for error in form.name.errors %}
                            <span class="block text-red-700 px-2 py-3 sm:inline">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <label class="text-white dark:text-gray-200" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                        {{ form.name|add_class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-zinc-700 dark:text-gray-300 dark:border-gray-500 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" }}
                    {%  endif%}
                </div>

                <div>
                    {% if form.student_id.errors %}
                        <label class="text-white dark:text-gray-200" for="{{ form.student_id.auto_id }}">{{ form.student_id.label }}</label>
                        {{ form.student_id|add_class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-zinc-700 dark:text-gray-300 dark:border-gray-500 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" }}
                        {% for error in form.student_id.errors %}
                            <span class="block text-red-700 px-2 py-3 sm:inline">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <label class="text-white dark:text-gray-200" for="{{ form.student_id.auto_id }}">{{ form.student_id.label }}</label>
                        {{ form.student_id|add_class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-zinc-700 dark:text-gray-300 dark:border-gray-500 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" }}
                    {%  endif%}
                </div>

                <div>
                    {% if form.course.errors %}
                        <label class="text-white dark:text-gray-200" for="{{ form.course.auto_id }}">{{ form.course.label }}</label>
                        {{ form.course|add_class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-zinc-700 dark:text-gray-300 dark:border-gray-500 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" }}
                        {% for error in form.course.errors %}
                            <span class="block text-red-700 px-2 py-3 sm:inline">{{ error }}</span>
                        {% endfor %}
                    {% else %}
                        <label class="text-white dark:text-gray-200" for="{{ form.course.auto_id }}">{{ form.course.label }}</label>
                        {{ form.course|add_class:"block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-zinc-700 dark:text-gray-300 dark:border-gray-500 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring" }}
                    {%  endif%}
                </div>
            </div>
        </form>
    </section>
</main>
{% endblock %}